$screen-xs: 0;
$screen-sm: em(544);
$screen-md: em(768);
$screen-lg: em(992);
$screen-xl: em(1200);

// Media sizes
$breakpoints: (
  xs: 0,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl
);

// Font families
$font-family-sans-serif: 'open sans', helvetica, arial, sans-serif;
$font-family-serif: 'domine', georgia, serif;

$brand-primary: #0d395f;
$brand-primary-dark: darken($brand-primary, 10%);

$white: #fff;
$black: #222;
$gray: #666;
