@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  code,
  th,
  td {
    font-size: 90%;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .editorial__section {
    page-break-after: always;
    page-break-inside: avoid;
    border: 0;
    margin: 0;
  }

  .editorial__section-header {
    padding: 0;
  }

  .container {
    height: 100%;
  }

  .main,
  .editorial__content {
    float: none;
    width: 100%;
  }

  .sidebar,
  .editorial__sidebar,
  .editorial__to-top-link {
    display: none;
  }

  code {
    border-bottom: 0 !important;
    padding: 0 !important;
    font-family: monospace !important;
    font-size: 90%;
  }
}
