.search {
  width: 100%;
  height: $search-height;
  z-index: 2;
  background-color: #f4f4f4;
  padding: 20px;

  form {
    display: flex;
    width: 100%;
  }

  input[type="search"] {
    border: 0;
    background-color: $white;
    padding: 10px;
    flex: 1;
  }

  input[type="submit"] {
    flex: 1;
    max-width: 100px;
    background-color: $brand-primary;
    color: $white;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }

}
