$screen-xs: 0;
$screen-sm: em(544);
$screen-md: em(768);
$screen-lg: em(992);
$screen-xl: em(1200);

// Media sizes
$breakpoints: (
  xs: 0,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl
);

// Font families

$font-family-sans-serif: 'open sans', helvetica, arial, sans-serif;
$font-family-serif: 'domine', georgia, serif;


// Font sizes

$base-font-size: 16px;
$base-line-height: 1.4;

// Colors

$brand-primary: #0d395f;
$brand-primary-dark: darken($brand-primary, 10%);

$brand-secondary: #023F84;
$brand-secondary-dark: darken($brand-secondary, 10%);

$brand-white: #fff;

$brand-yellow: #ffd22f;
$brand-olive: #517545;
$brand-green: #5a8e22;
$brand-maroon: #790e38;

$brand-colors: (
  "primary": $brand-primary,
  "secondary": $brand-secondary,
  "tertiary": $brand-white,
  "yellow": $brand-yellow,
  "green": $brand-green,
  "maroon": $brand-maroon,
);

$gray-base: #000;
$gray-light: lighten($gray-base, 20%);
$gray-lighter: lighten($gray-base, 30%);
$gray: lighten($gray-base, 10%);
$gray-dark: darken($gray-base, 10%);
$gray-darker: darken($gray-base, 10%);

$white: #fff;
$black: #222;


// Area specific colors

$body-bg: $white;

$link-color: $brand-primary;
$link-color-hover: $brand-primary-dark;
