.editorial {
  @include clearfix();
  height: 100%;
}

.editorial-content {
  max-width: 700px;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 2px solid $brand-primary;
}

.section-header {
  @include clearfix();
  padding: 20px 0;
}

.section-title {
  float: left;
  font-size: 48px;
  font-weight: normal;
  margin: 0;
  color: $brand-primary;
}

.to-top-link {
  float: right;
  font-size: 14px;
}

.section-topic {
  padding: 20px;

  &:not(:last-child) {
    border-bottom: 1px solid lighten($gray, 50%);
  }
}

.topic-title {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: normal;
}

.topic-description {
  // padding-left: 20px;

  p:last-child {
    // margin-bottom: 0;
  }
}
