.site-nav {
  ol {
    @include clearfix();
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
    margin-right: 3px;
    margin-bottom: 3px;
  }

  a {
    display: inline-block;
    color: darken($white, 20%);
    min-width: 40px;
    height: 40px;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: darken($brand-primary, 3%);
    transition: .2s;

    &:hover {
      background-color: $white;
      color: $brand-primary;
      text-decoration: none;
    }
  }

  .active a {
    background-color: $brand-primary;
    color: $white;
    padding-left: 20px;
    padding-right: 20px;
  }
}
