.surfacer {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: $brand-primary;
  color: $white;
  padding: 1em 2em;
  font-size: 14px;
  display: inline-block;

  &:hover {
    color: $white;
  }
}
