---
layout: default
bodyclass: editorial
---

<div id="top"></div>

<div class="editorial">

  <div class="editorial__sidebar">
    <nav id="editorial-nav">
      <ol class="nav nav-blocks">
        {% for item in site.editorial %}
        <li>
          <a href="#{{item.title}}">{{ item.title | upcase }}</a>
        </li>
        {% endfor %}
      </ol>
    </nav>

  </div>

  <div class="editorial__content">

    <div class="editorial__content__inner">

      <h1>{{page.title}}</h1>

      {{ content }}

      <div class="js-mark-context">

        {% for section in site.editorial %}
          <section class="editorial__section" id="{{ section.title | slugify }}">
            <header class="editorial__section-header">
              <h2 class="editorial__section-title">{{ section.title | upcase }}</h2>
              <a href="#top" class="editorial__to-top-link">Back to top</a>
            </header>
            {{ section.content }}
          </section>
        {% endfor %}
        
      </div>

    </div>

    <!-- {% include footer.html %} -->

    <a href="#" class="surfacer">Back to top</a>
  </div>

</div>
